.LeftPanel {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 40vh;
  min-height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  font-weight: bold;
}

h2 {
  color: white;
}